<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yy.musicplayer"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="yy.musicplayer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="yy.musicplayer.Register"
            android:label="@string/app_register" >
        </activity>
        <activity
            android:name="yy.musicplayer.FrontActivity"
            android:label="@string/app_server" >
        </activity>
        <service android:name="yy.musicplayer.service.DownloadService" >
        </service>
        <service android:name=".service.PlayerService" >
        </service>
        <activity
            android:name="yy.musicplayer.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity
            android:name="yy.musicplayer.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
    </application>
</manifest>